.hidden{
    display: none;
}

/* =============================================================
/common styles 
=============================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-top: 0;
}



ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    

}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
    .container {
            max-width: 1158px;
            padding:0 15px;
           
        }
}

/* ================================================================
 /header 
 ==================================================================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

 .header-container {
     display: flex;
     align-items: center;

 }

 .page-menu,
 .address-iteam-info{
display: none;
 }

.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
padding: 16px 0;
}
    
.text-italic {
    color: #2e2f42;
}

.top-nav {
    margin-right: auto;
}

.btn-phn-header{
    padding: 0;
    border: 0;
    background-color: transparent;
}


@media screen and (min-width:768px) {
    .btn-phn-header {
        display: none;
    }

        .page-menu {
            display: flex;
            gap: 40px;
        }

        .logo{
            margin-right: 120px;
            padding: 24px 0;
        }

        .address-iteam-info{
          display: block;  
          font-style: normal;
        }
     .top-nav {
        display: flex;
         align-items: center;}

        .menu-link {
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #2e2f42;
                padding-top: 24px;
                padding-bottom: 24px;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        
            .current {
                position: relative;
                color: #404BBF;
            }
        
        
            .current::after {
                left: 0;
                bottom: -1px;
                content: "";
                background-color: #404BBF;
                border-radius: 2px;
                height: 4px;
                width: 100%;
                position: absolute;
            }
        
        
        
            .menu-link:focus,
            .menu-link:hover {
                color: #404bbf;
        
            }


            .info{
                display: flex;
                flex-direction: column;
                gap:12px;
            }

            .iteam-info{
                display: block;
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
            }
                        .iteam-info:hover,
                        .iteam-info:focus {
                            color: #404bbf;
                        }
}

@media screen and (min-width: 1158px){
    .logo {
        margin-right: 76px;
        
        }

      .info {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

.iteam-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}






























